<div class="contenedorPricipal">
    <h1>Reportes</h1>
    <div class="Filtro">
        <p-dropdown [options]="tablas" [(ngModel)]="tablaSeleccionada" optionLabel="label"  (onChange)="cambiarFuenteDatos($event.value)"></p-dropdown>
        <p>
            <label>Fecha Inicio:</label>
            <p-calendar [(ngModel)]="FechaInicio" name="FechaInicio" [showTime]="true" hourFormat="12"
                [showIcon]="true"></p-calendar>
        </p>
        <p>
            <label>Fecha Fin:</label>
            <p-calendar [(ngModel)]="FechaFin" name="FechaFin" [showTime]="true" hourFormat="12"
                [showIcon]="true"></p-calendar>
        </p>
        <p>
            <p-button label="Buscar" icon="pi pi-search" style="margin-top: 20px;" (onClick)="BuscarVentasPorFechas()"></p-button>
        </p>


    </div>
    <div *ngIf="mostrarVentas">
    <p-card [header]="activeItem.label==undefined?'':activeItem.label" [style]="{ margin: '20px', padding: '20px' }"
        styleClass="shadow-5">
        <p-table #dt2  [value]="ventas" [paginator]="true" [rows]="rowsPerPage" (onPage)="CambioDeNumeroDePagina($event)" [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '90rem', 'max-height': '600px' }"
            [currentPageReportTemplate]="'Mostrando {first} al {last} de {totalRecords} ' + (activeItem.label==undefined?'':activeItem.label)"
            [scrollable]="true" [rowsPerPageOptions]="[5, 10, 50]" class="custom-table"
            styleClass="p-datatable-sm"
            [globalFilterFields]="['VEN_CODIGO','CLI_ID','CLI_NOMBRE','TIC_NOMBRE','USU_NOMBRE']">
            <ng-template pTemplate="caption">
                <div class="EncabezadoTabla">
                    <button type="button" pButton pRipple icon="pi pi-file-excel"
                        class="p-button-rounded p-button-success mr-2"(click)="exportExcel()" pTooltip="Descargar reporte" tooltipPosition="top"></button>
                    <button pButton label="" icon="pi pi-filter" iconPos="left" class="p-button-raised p-button-rounded"
                        (click)="searchKeyword='';dt2.reset()"
                        pTooltip="Quitar filtro" tooltipPosition="top" placeholder="Top"></button>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="searchKeyword"
                            (input)="dt2.filterGlobal(searchKeyword, 'contains')" placeholder="Buscar" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>

                    <th pSortableColumn="VEN_CODIGO" style="width: 5%">
                        #<p-sortIcon field="VEN_CODIGO"></p-sortIcon>
                    </th>
                    <th pSortableColumn="VEN_ESANULADA" style="width: 5%">
                        Anulada<p-sortIcon field="VEN_ESANULADA"></p-sortIcon>
                    </th>
                    <th pSortableColumn="VEN_TIENE_REGALOSDEMAS" style="width: 5%">
                        Mas Regalos<p-sortIcon field="VEN_TIENE_REGALOSDEMAS"></p-sortIcon>
                    </th>
                    <th pSortableColumn="VEN_FECHAVENTA" style="width: 15%">
                        Fecha <p-sortIcon field="VEN_FECHAVENTA"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TIC_NOMBRE" style="width: 10%">
                        Tipo pago <p-sortIcon field="TIC_NOMBRE"></p-sortIcon>
                    </th>
                    <th pSortableColumn="VEN_PRECIOTOTAL" style="width: 15%">
                        Precio <p-sortIcon field="VEN_PRECIOTOTAL"></p-sortIcon>
                    </th>
                    <th pSortableColumn="VEN_ESTADOVENTA" style="width: 8%">
                        Confirmación <p-sortIcon field="VEN_ESTADO"></p-sortIcon>
                    </th>
                    <th pSortableColumn="VEN_ESTADOCREDITO" style="width: 8%">
                        Credito <p-sortIcon field="VEN_ESTADOCREDITO"></p-sortIcon>
                    </th>
                    <th pSortableColumn="CLI_ID" style="width: 10%">
                        Cedula <p-sortIcon field="CLI_ID"></p-sortIcon>
                    </th>
                    <th pSortableColumn="CLI_NOMBRE" style="width: 20%">
                        Nombre <p-sortIcon field="CLI_NOMBRE"></p-sortIcon>
                    </th>
                    <th pSortableColumn="CLI_TELEFONO" style="width: 10%">
                        Telefono <p-sortIcon field="CLI_TELEFONO"></p-sortIcon>
                    </th>
                    <!-- <th pSortableColumn="CLI_DIRECCION" style="width: 15%">
                        Direccion <p-sortIcon field="CLI_DIRECCION"></p-sortIcon>
                    </th> -->
                    <th pSortableColumn="CLI_TIPOCLIENTE" style="width: 20%">
                        Tipo de cliente <p-sortIcon field="CLI_TIPOCLIENTE"></p-sortIcon>
                    </th>
                    <th pSortableColumn="USU_NOMBRE" style="width: 8%">
                        Vendedor <p-sortIcon field="USU_NOMBRE"></p-sortIcon>
                    </th>
                    <th style="min-width: 250px" alignFrozen="right" pFrozenColumn>
                        Acciones
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-venta>
                <tr [ngStyle]="{
                    'background-color': venta.VEN_ESANULADA ? 'rgba(255, 0, 0, 0.26)' : (venta.VEN_TIENE_REGALOSDEMAS ? 'rgba(217, 153, 44, 0.26)' : '#fff'),
                    'font-weight': venta.VEN_TIENE_REGALOSDEMAS ? 'bold' : 'normal'
                  }">
                    <td>{{ venta.VEN_CODIGO }}</td>
                    <td><i *ngIf="venta.VEN_ESANULADA" class="pi pi-exclamation-triangle"></i></td>
                    <td><i *ngIf="venta.VEN_TIENE_REGALOSDEMAS" class="pi pi-exclamation-triangle"></i></td>
                    <td>{{ venta.VEN_FECHAVENTA | date : "YYYY-MMM-dd" }}</td>
                    <td>{{ venta.TIC_NOMBRE }}</td>
                    <td>${{ venta.VEN_PRECIOTOTAL| number }}</td>
                    <td>
                        <p-tag [value]="venta.VEN_ESTADOVENTA==true ? 'SI':'NO'"
                        [severity]="getSeverity(venta.VEN_ESTADOVENTA)"></p-tag>
                    </td>
                    <td>
                        <p-tag [value]="venta.VEN_ESTADOCREDITO ? 'SI':'NO'"
                        [severity]="getSeverity(venta.VEN_ESTADOCREDITO)"></p-tag>
                    </td>
                  

                    <td>{{ venta.CLI_ID }}</td>
                    <td>{{ venta.CLI_NOMBRE }}</td>

                    <td>{{ venta.CLI_TELEFONO }}</td>
                    <!-- <td>{{ venta.CLI_DIRECCION }}</td> -->
                    <td>{{ venta.CLI_TIPOCLIENTE }}</td>
                    <td>{{ venta.USU_NOMBRE }}</td>

                    <td pFrozenColumn alignFrozen="right" [frozen]="true" style="min-width: 250px">
                        <!-- <button [disabled]="venta.VEN_ESTADOVENTA==true" pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success"
                        pTooltip="Confirmar" tooltipPosition="top" placeholder="Top" (click)="ActualizarEstadoVenta(venta)"></button> -->
                        <!-- <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-help"
                        pTooltip="Abonos" tooltipPosition="top" placeholder="Top" (click)="BuscarAbonos(venta)"></button> -->
                        <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-button-info "
                            pTooltip="Ver Detalles" tooltipPosition="top" placeholder="Top" (click)="BuscarDetalles(venta)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            pTooltip="Eliminar" tooltipPosition="top" placeholder="Top" (click)="EliminarVenta(venta)" [disabled]="venta.VEN_ESANULADA"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-card>
        
</div>
</div>
<div *ngIf="mostrarDetalles">
<p-card header="Detalle Venta" [style]="{ margin: '20px', padding: '20px' }"
    styleClass="shadow-5">
    <p-table #dt2 [value]="detallesVentas" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '90rem', 'max-height': '600px' }"
        [currentPageReportTemplate]="'Mostrando {first} al {last} de {totalRecords} ' + (activeItem.label==undefined?'':activeItem.label)"
        [scrollable]="true" [rowsPerPageOptions]="[5, 10, 50]" class="custom-table"
        styleClass="p-datatable-sm"
        [globalFilterFields]="['PRO_CODIGO','VED_UNIDADES','VED_PRECIOVENTA_UND','VED_VALORDESCUENTO_UND','VED_PRECIOVENTA_TOTAL','PRO_NOMBRE']">
        <ng-template pTemplate="caption">
            <div class="EncabezadoTabla">
                <!-- Puedes mantener o personalizar los botones de exportar y quitar filtro según tus necesidades -->
                <button type="button" pButton pRipple icon="pi pi-file-excel"
                    class="p-button-rounded p-button-success mr-2" (click)="exportExcelDetalle()"
                    pTooltip="Descargar reporte" tooltipPosition="top"></button>
                <button pButton label="" icon="pi pi-filter" iconPos="left"
                    class="p-button-raised p-button-rounded" (click)="searchKeyword='';dt2.reset()"
                    pTooltip="Quitar filtro" tooltipPosition="top" placeholder="Top"></button>
                <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" [(ngModel)]="searchKeyword"
                        (input)="dt2.filterGlobal(searchKeyword, 'contains')" placeholder="Buscar" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- Puedes personalizar los encabezados según tus necesidades -->
                <th pSortableColumn="PRO_NOMBRE" style="width: 10%">
                    Nombre <p-sortIcon field="PRO_NOMBRE"></p-sortIcon>
                </th>
                <th pSortableColumn="VEN_CODIGO" style="width: 10%">
                    Código Venta <p-sortIcon field="PRO_CODIGO"></p-sortIcon>
                </th>
                <th pSortableColumn="VED_UNIDADES" style="width: 10%">
                    Unidades <p-sortIcon field="VED_UNIDADES"></p-sortIcon>
                </th>
                <th pSortableColumn="VED_PRECIOVENTA_UND" style="width: 15%">
                    Precio Venta por Unidad <p-sortIcon field="VED_PRECIOVENTA_UND"></p-sortIcon>
                </th>
                <th pSortableColumn="VED_VALORDESCUENTO_UND" style="width: 15%">
                    Valor Descuento por Unidad <p-sortIcon field="VED_VALORDESCUENTO_UND"></p-sortIcon>
                </th>
                <th pSortableColumn="VED_PRECIOVENTA_TOTAL" style="width: 15%">
                    Precio Venta Total <p-sortIcon field="VED_PRECIOVENTA_TOTAL"></p-sortIcon>
                </th>
                <th pSortableColumn="VED_ACTUALIZACION" style="width: 15%">
                    Fecha <p-sortIcon field="VED_ACTUALIZACION"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-detalleVenta>
            <tr>
                <!-- Puedes personalizar las columnas según tus necesidades -->
                <td>{{detalleVenta.PRO_NOMBRE}}</td>
                <td>{{ detalleVenta.PRO_CODIGO }}</td>
                <td>{{ detalleVenta.VED_UNIDADES }}</td>
                <td>${{ detalleVenta.VED_PRECIOVENTA_UND | number }}</td>
                <td>{{ detalleVenta.VED_VALORDESCUENTO_UND  }}%</td>
                <td>${{ detalleVenta.VED_PRECIOVENTA_TOTAL | number }}</td>
                <td>{{ detalleVenta.VED_ACTUALIZACION | date:'YYYY-MMM-dd '}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
    
</div>