<div class="Indicadores">
    <div class="p-card">
        <h3 class="Titulo3"> Deudas</h3>
        <span class="value">{{ Indicadores.Deudas | currency: 'USD' }}</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+15%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Ventas </h3>
        <span class="value">{{ Indicadores.Ventas | currency: 'USD' }}</span>
        <i class="trend-icon fas fa-arrow-down"></i>
        <span class="percentage">-8%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Gastos</h3>
        <span class="value">{{ Indicadores.Gastos | currency: 'USD' }}</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+12%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Compras</h3>
        <span class="value">{{ Indicadores.Compras | currency: 'USD' }}</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+20%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Utilidades</h3>
        <span class="value">{{ Indicadores.Utilidades | currency: 'USD' }}</span>
        <i class="trend-icon fas fa-arrow-down"></i>
        <span class="percentage">-5%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Credito</h3>
        <span class="value">{{ Indicadores.Creditos | currency: 'USD' }}</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+10%</span>
    </div>
</div>

<div class="container">
    <div class="chart-container">
        <p-chart type="bar"  [data]="exampleData"></p-chart>
    </div>
    <div class="table-container">
        <p-table [value]="tableData">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Venta</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>{{ rowData.fecha }}</td>
                    <td>{{ rowData.venta | currency: 'USD' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
