.Indicadores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding-top: 20px; 
}

.p-card {
    background-color: #f5f5f5; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.p-card h3 {
    font-size: 1.5rem; 
}

.value {
    font-size: 1.25rem; 
    font-weight: bold; 
    display: block; 
    margin-top: 10px; 
}

.trend-icon {
    font-size: 1.25rem;
}

.percentage {
    font-size: 1rem; 
    display: block; 
    margin-top: 10px;
}

.container {
    display: flex;
    padding-top: 10%;
}

.chart-container {
    flex: 1;
    margin-right: 20px;
}

.table-container {
    flex: 1;
}
