<div class="Indicadores">
    <div class="p-card">
        <h3 class="Titulo3"> Ingresos</h3>
        <span class="value">$10,000</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+15%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Egresos</h3>
        <span class="value">$5,000</span>
        <i class="trend-icon fas fa-arrow-down"></i>
        <span class="percentage">-8%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Utilidades</h3>
        <span class="value">$5,000</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+12%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Compras</h3>
        <span class="value">$3,000</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+20%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Deudas</h3>
        <span class="value">$2,000</span>
        <i class="trend-icon fas fa-arrow-down"></i>
        <span class="percentage">-5%</span>
    </div>
    <div class="p-card">
        <h3 class="Titulo3"> Pagos</h3>
        <span class="value">$4,000</span>
        <i class="trend-icon fas fa-arrow-up"></i>
        <span class="percentage">+10%</span>
    </div>
</div>

<div class="container">
    <div class="chart-container">
        <p-chart type="line" [data]="exampleData"></p-chart>
    </div>
    <div class="table-container">
        <p-table [value]="tableData">
            <ng-template pTemplate="header">
                <tr>
                    <th>Fecha</th>
                    <th>Venta</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>{{ rowData.fecha }}</td>
                    <td>{{ rowData.venta | currency: 'USD' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
