<div class="Principal">
    <h1>Configuraciones</h1>
    <div class="Elementos">
        <p-accordion>
            <p-accordionTab header="Marcas">
                <p-card *ngIf="ActivarFormularioMarca==true" header="Nueva marca"
                    [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
                    <section>
                        <div>
                            <label>Nombre:</label>
                            <input type="text" pInputText [(ngModel)]="Marca.MAR_NOMBRE" />
                        </div>
                        <div class="BotonAgregar">
                            <p-button label="Agregar Marca" icon="pi pi-plus" (onClick)="AgregarMarca()"></p-button>
                            <p-button label="Cancelar" styleClass="p-button-danger"
                                (onClick)="ActivarFormularioMarca=false"></p-button>
                        </div>
                    </section>
                </p-card>
                <p-card header="Listado de marcas" [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
                    <p-table [value]="marcas" [tableStyle]="{ 'min-width': '40rem', 'max-height': '400px' }"
                        [paginator]="true" [rows]="rowsPerPage" (onPage)="CambioDeNumeroDePagina($event)"
                        [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="'Mostrando {first} al {last} de {totalRecords}'"
                        [scrollable]="true" [rowsPerPageOptions]="[5, 20, 50]" styleClass="p-datatable-sm"
                        class="custom-table">
                        <ng-template pTemplate="caption">
                            <div class="EncabezadoTabla">
                                <p-button *ngIf="ActivarFormularioMarca==false" label="Agregar Marca" icon="pi pi-plus"
                                    (onClick)="ActivarFormularioMarca=true"></p-button>

                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 20%">#</th>
                                <th style="width: 20%">Marca</th>
                                <th alignFrozen="right" pFrozenColumn [frozen]="true" style="width: 20%">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-marca>
                            <tr>
                                <td>{{ marca.MAR_CODIGO}}</td>
                                <td>{{ marca.MAR_NOMBRE}}</td>
                                <td alignFrozen="right" pFrozenColumn [frozen]="true">
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        pTooltip="Eliminar" tooltipPosition="top"
                                        (click)="EliminarMarca(marca)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </p-accordionTab>
            <p-accordionTab header="Categorias">
                <p-card *ngIf="ActivarFormularioCategoria==true" header="Nueva categoria"
                    [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
                    <section>
                        <div>
                            <label>Nombre:</label>
                            <input type="text" pInputText [(ngModel)]="Categoria.CAT_NOMBRE" />
                        </div>
                        <div class="BotonAgregar">
                            <p-button label="Agregar Categoria" icon="pi pi-plus" alignFrozen="right" pFrozenColumn
                                [frozen]="true" (onClick)="AgregarCategoria()"></p-button>
                            <p-button label="Cancelar" styleClass="p-button-danger"
                                (onClick)="ActivarFormularioCategoria=false"></p-button>
                        </div>
                    </section>
                </p-card>
                <p-card header="Listado de categorias" [style]="{ margin: '20px', padding: '20px' }"
                    styleClass="shadow-5">
                    <p-table [value]="categorias" [tableStyle]="{ 'min-width': '40rem', 'max-height': '400px' }"
                        [paginator]="true" [rows]="rowsPerPage" (onPage)="CambioDeNumeroDePagina($event)" [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="'Mostrando {first} al {last} de {totalRecords}'"
                        [scrollable]="true" [rowsPerPageOptions]="[5, 10, 50]" styleClass="p-datatable-sm"
                        class="custom-table">
                        <ng-template pTemplate="caption">
                            <div class="EncabezadoTabla">
                                <p-button *ngIf="ActivarFormularioCategoria==false" label="Agregar Categoria"
                                    icon="pi pi-plus" (onClick)="ActivarFormularioCategoria=true" alignFrozen="right"
                                    pFrozenColumn [frozen]="true"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 20%">#</th>
                                <th style="width: 20%">Categoria</th>
                                <th alignFrozen="right" pFrozenColumn [frozen]="true" style="width: 20%">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-categoria>
                            <tr>
                                <td>{{ categoria.CAT_CODIGO}}</td>
                                <td>{{ categoria.CAT_NOMBRE}}</td>
                                <td alignFrozen="right" pFrozenColumn [frozen]="true">
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        pTooltip="Eliminar" tooltipPosition="top"
                                        (click)="EliminarCategoria(categoria) "></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </p-accordionTab>
            <p-accordionTab header="Cuentas">
                <input #InputNombreCuenta
                    style="opacity:0; filter:alpha(opacity=0); width: 0; height: 0; overflow: hidden; padding: 0; margin: 0;"
                    pInputText />
                <p-card [hidden]="!ActivarFormularioCuenta" header="Nueva Cuenta"
                    [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
                    <section>
                        <div>
                            <label>Nombre:</label>
                            <input #InputNombreCuenta type="text" pInputText [(ngModel)]="Cuenta.TIC_NOMBRE" />
                        </div>
                        <div>
                            <label># Referencia:</label>
                            <input type="text" pInputText [(ngModel)]="Cuenta.TIC_NUMEROREFERENCIA" />
                        </div>
                        <div>
                            <label>Dinero total:</label>
                            <p-inputNumber class="Numerico" mode="decimal" locale="en-US"
                                [(ngModel)]="Cuenta.TIC_DINEROTOTAL"></p-inputNumber>
                        </div>

                        <div style="align-items: flex-start;display: flex;gap: 10px;">
                            <p-checkbox id="Bodega" [binary]="true" [(ngModel)]="Cuenta.TIC_ESTIPOENVIO"
                                label="Es para envio"></p-checkbox>
                            <!-- <p-checkbox id="Credito" [binary]="true"[(ngModel)]="Credito" label="Deuda" ></p-checkbox> -->
                        </div>
                        <div class="BotonAgregar">
                            <p-button *ngIf="Cuenta.TIC_CODIGO !=0" label="Actualizar" icon="pi pi-plus"
                                (onClick)="ActualizarTipoCuenta()"></p-button>
                            <p-button *ngIf="Cuenta.TIC_CODIGO ==0" label="Agregar" icon="pi pi-plus"
                                (onClick)="AgregarCuenta()"></p-button>

                            <p-button label="Cancelar" styleClass="p-button-danger"
                                (onClick)="ActivarFormularioCuenta=false"></p-button>
                        </div>
                    </section>
                </p-card>

                <p-card header="Listado de cuentas" [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
                    <p-table [value]="cuentas" [tableStyle]="{ 'min-width': '40rem', 'max-height': '400px' }"
                        [paginator]="true" [rows]="rowsPerPage" (onPage)="CambioDeNumeroDePagina($event)" [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="'Mostrando {first} al {last} de {totalRecords}'"
                        [scrollable]="true" [rowsPerPageOptions]="[5, 10, 50]" styleClass="p-datatable-sm"
                        class="custom-table">
                        <ng-template pTemplate="caption">
                            <div alignFrozen="right" pFrozenColumn [frozen]="true" class="EncabezadoTabla">
                                <p-button *ngIf="ActivarFormularioCuenta==false" label="Agregar Cuenta"
                                    icon="pi pi-plus" (onClick)="ActivarFormularioCuenta=true"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 10%">#</th>
                                <th style="width: 20%">Cuenta</th>
                                <th style="width: 20%">Dinero total</th>
                                <th style="width: 10%">Referencia</th>
                                <th style="width: 20%">Es Para envios</th>
                                <th style="width: 20%">Acciones</th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-cuenta>
                            <tr>
                                <td>{{ cuenta.TIC_CODIGO}}</td>
                                <td>{{ cuenta.TIC_NOMBRE}}</td>
                                <td>{{ cuenta.TIC_DINEROTOTAL | number}}</td>
                                <td>{{ cuenta.TIC_NUMEROREFERENCIA}}</td>

                                <td>
                                    <p-tag [value]="cuenta.TIC_ESTIPOENVIO ? 'SI':'NO'"
                                        [severity]="getSeverity(cuenta.TIC_ESTIPOENVIO)"></p-tag>
                                </td>
                                <td alignFrozen="right" pFrozenColumn [frozen]="true">

                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info"
                                        pTooltip="Editar valor" tooltipPosition="top"
                                        (click)="PonerEnFormularioTipoCuenta(cuenta)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        pTooltip="Eliminar" tooltipPosition="top"
                                        (click)="EliminarCuenta(cuenta)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </p-accordionTab>
            <p-accordionTab header="Envios">
                <input #InputEnvios
                    style="opacity:0; filter:alpha(opacity=0); width: 0; height: 0; overflow: hidden; padding: 0; margin: 0;"
                    pInputText />
                <p-card *ngIf="ActivarFormularioTipoEnvio==true" header="Envio"
                    [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
                    <section>
                        <div>
                            <label>Nombre:</label>
                            <input type="text" pInputText [(ngModel)]="Envio.TIP_NOMBRE"
                                [disabled]="Envio.TIP_CODIGO !=0" />
                        </div>
                        <div>
                            <label>Valor:</label>
                            <!-- <input type="text" pInputText [(ngModel)]="Envio.TIP_VALOR" /> -->
                            <p-inputNumber class="Numerico" mode="decimal" locale="en-US"
                                [(ngModel)]="Envio.TIP_VALOR"></p-inputNumber>
                        </div>
                        <div class="BotonAgregar" alignFrozen="right" pFrozenColumn [frozen]="true">
                            <p-button *ngIf="Envio.TIP_CODIGO !=0" label="Actualizar Valor" icon="pi pi-plus"
                                (onClick)="ActualizarTipoEnvio()"></p-button>
                            <p-button *ngIf="Envio.TIP_CODIGO ==0" label="Agregar" icon="pi pi-plus"
                                (onClick)="AgregarTipoEnvio()"></p-button>
                            <p-button label="Cancelar" styleClass="p-button-danger" (onClick)="ActivarFormularioTipoEnvio=false;
                            Envio.TIP_CODIGO=0;Envio.TIP_VALOR=0;Envio.TIP_NOMBRE=''"></p-button>
                        </div>
                    </section>
                </p-card>
                <p-card header="Listado tipos de envio" [style]="{ margin: '20px', padding: '20px' }"
                    styleClass="shadow-5">
                    <p-table [value]="envios" [tableStyle]="{ 'min-width': '40rem', 'max-height': '400px' }"
                        [paginator]="true" [rows]="rowsPerPage" (onPage)="CambioDeNumeroDePagina($event)" [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="'Mostrando {first} al {last} de {totalRecords}'"
                        [scrollable]="true" [rowsPerPageOptions]="[5, 10, 50]" styleClass="p-datatable-sm"
                        class="custom-table">
                        <ng-template pTemplate="caption">
                            <div class="EncabezadoTabla" alignFrozen="right" pFrozenColumn [frozen]="true">
                                <p-button *ngIf="ActivarFormularioTipoEnvio==false" label="Agregar Cuenta"
                                    icon="pi pi-plus" (onClick)="ActivarFormularioTipoEnvio=true"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 20%">#</th>
                                <th style="width: 20%">Tipo envio</th>
                                <th style="width: 20%">Valor</th>
                                <th alignFrozen="right" pFrozenColumn [frozen]="true" style="width: 20%">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-envio>
                            <tr>
                                <td>{{ envio.TIP_CODIGO}}</td>
                                <td>{{ envio.TIP_NOMBRE}}</td>
                                <td>{{ envio.TIP_VALOR | number}}</td>
                                <td alignFrozen="right" pFrozenColumn [frozen]="true">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info"
                                        pTooltip="Editar valor" tooltipPosition="top"
                                        (click)="PonerEnFormulario(envio)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </p-accordionTab>
            <p-accordionTab header="Motivos de gastos">
                <p-card *ngIf="ActivarFormularioMotivoGasto==true" header="Nuevo motivo gasto"
                    [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
                    <section>
                        <div>
                            <label>Nombre:</label>
                            <input type="text" pInputText [(ngModel)]="MotivoGasto.MOG_NOMBRE" />
                        </div>
                        <div class="BotonAgregar">
                            <p-button label="Agregar Motivo" icon="pi pi-plus"
                                (onClick)="AgregarMotivoGasto()"></p-button>
                            <p-button label="Cancelar" styleClass="p-button-danger" alignFrozen="right" pFrozenColumn
                                [frozen]="true" (onClick)="ActivarFormularioMotivoGasto=false"></p-button>
                        </div>
                    </section>
                </p-card>
                <p-card header="Listado motivos de gastos" [style]="{ margin: '20px', padding: '20px' }"
                    styleClass="shadow-5">
                    <p-table [value]="motivos" [tableStyle]="{ 'min-width': '40rem', 'max-height': '400px' }"
                        [paginator]="true" [rows]="rowsPerPage" (onPage)="CambioDeNumeroDePagina($event)" [showCurrentPageReport]="true"
                        [currentPageReportTemplate]="'Mostrando {first} al {last} de {totalRecords}'"
                        [scrollable]="true" [rowsPerPageOptions]="[5, 10, 50]" styleClass="p-datatable-sm"
                        class="custom-table">
                        <ng-template pTemplate="caption">
                            <div class="EncabezadoTabla">
                                <p-button *ngIf="ActivarFormularioMotivoGasto==false" label="Agregar Cuenta"
                                    icon="pi pi-plus" (onClick)="ActivarFormularioMotivoGasto=true"></p-button>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 20%">#</th>
                                <th style="width: 20%">Motivo</th>
                                <th alignFrozen="right" pFrozenColumn [frozen]="true" style="width: 20%">Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-motivo>
                            <tr>
                                <td>{{ motivo.MOG_CODIGO}}</td>
                                <td>{{ motivo.MOG_NOMBRE}}</td>
                                <td alignFrozen="right" pFrozenColumn [frozen]="true">
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        pTooltip="Eliminar" tooltipPosition="top"
                                        (click)="EliminarMotivoGasto(motivo)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-card>
            </p-accordionTab>
        </p-accordion>
    </div>

</div>