<div class="contenedorPricipal">
  <p-card header="Transferir Dinero" [style]="{ width: '100%' }" class="card">
    <section>
      <div>
        <label>Cuenta Origen:</label>
        <p-dropdown [options]="listaTipoDeCuenta" [(ngModel)]="this.transaccionCuentas.IdCuentaOrigen"
          optionLabel="TIC_NOMBRE" optionValue="TIC_CODIGO" [showClear]="true"
          placeholder="Seleccione Cuenta" appendTo="body" [filter]="true" filterBy=""></p-dropdown>
      </div>

      <div>
        <label>Cuenta Destino:</label>
        <p-dropdown [options]="listaTipoDeCuenta" [(ngModel)]="this.transaccionCuentas.IdCuentaDestino"
          optionLabel="TIC_NOMBRE" optionValue="TIC_CODIGO" [showClear]="true"
          placeholder="Seleccione Cuenta" appendTo="body" [filter]="true" filterBy=""></p-dropdown>
      </div>
      <div>
        <label>Cantidad:</label>
        <p-inputNumber [(ngModel)]="this.transaccionCuentas.ValorTranferencia" inputId="cantidad" class="Numerico"
          mode="decimal" locale="en-US"></p-inputNumber>
      </div>
    </section>
  </p-card>
  <div>
    <div class="buttonContainer">
      <p-button (click)="AgregarTansaccion()" label="Agregar"> </p-button>
    </div>
  </div>
</div>