<div class="container">
  <div class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
    <button class="toggle-button" (click)="toggleSidebar()">
      <i class="pi pi-align-justify" *ngIf="isCollapsed"></i>
      <i class="pi pi-align-justify" *ngIf="!isCollapsed"></i>
    </button>
    <div class="container-image">
      <img src="../../assets/Imagenes/BUGGAFITLOGO.png" />
      <!-- <p style="color: white" [class.hide-text]="isCollapsed">Administrar</p> -->
    </div>
    <div class="main-content" [ngClass]="{ collapsed: isCollapsed }">
      <ul class="menu">
        <li>
          <a href="#"
            ><i class="pi pi-shopping-bag"></i
            ><span class="menu-text">Ventas</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="pi pi-list"></i
            ><span class="menu-text">Inventario</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="pi pi-chart-pie"></i
            ><span class="menu-text">DashBoard</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="pi pi-shopping-cart"></i
            ><span class="menu-text">Compras</span></a
          >
        </li>
        <li>
          <a href="#"
            ><i class="pi pi-file"></i><span class="menu-text">Reporte</span></a
          >
        </li>
      </ul>
      <ul class="menu">
        <li>
          <a href="#"
            ><i class="pi pi-sign-out"></i
            ><span class="menu-text">Cerrar</span></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="Container-table">
    <router-outlet></router-outlet>
  </div>
</div>
