<div class="container">
  <aside class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
    <div class="toggle-button-wrapper">
      <button class="toggle-button" (click)="toggleSidebar()">
        <i  [class]="isCollapsed==true?'pi pi-arrow-circle-right':'pi pi-arrow-circle-left'" [pTooltip]="isCollapsed==true?'Expandir':'Contraer'" tooltipPosition="right"[ngStyle]="{ 'font-size': isCollapsed ? '0.5rem' : '1.3rem' }"></i>
      </button>
    </div>
    <div class="container-image">
      <img src="../../assets/Imagenes/BUGGAFITLOGO.png" alt="Logo" />
    </div>
    <ul class="menu">
      <li>
        <a [routerLink]="['/principal/ventas']" routerLinkActive="active" [pTooltip]="isCollapsed==true?'Ventas':''" tooltipPosition="right">
          <i class="pi pi-shopping-bag" ></i>
          <span class="menu-text">Ventas</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/principal/inventario']" routerLinkActive="active" [pTooltip]="isCollapsed==true?'Inventario':''" tooltipPosition="right">
          <i class="pi pi-list" ></i>
          <span class="menu-text">Inventario</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/principal/estadisticas']"routerLinkActive="active" [pTooltip]="isCollapsed==true?'Dashboard':''" tooltipPosition="right">
          <i class="pi pi-chart-pie" ></i>
          <span class="menu-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/principal/compras']"routerLinkActive="active" [pTooltip]="isCollapsed==true?'Compras':''" tooltipPosition="right">
          <i class="pi pi-shopping-cart" ></i>
          <span class="menu-text">Compras</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/principal/reportes']"routerLinkActive="active" [pTooltip]="isCollapsed==true?'Reporte':''" tooltipPosition="right">
          <i class="pi pi-file" ></i>
          <span class="menu-text">Reporte</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/principal/usuarios']"routerLinkActive="active" [pTooltip]="isCollapsed==true?'Usuarios':''" tooltipPosition="right">
          <i class=" pi pi-user" ></i>
          <span class="menu-text">Usuarios</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/principal/gastos']"routerLinkActive="active" [pTooltip]="isCollapsed==true?'Gastos':''" tooltipPosition="right">
          <i class="pi pi-money-bill" ></i>
          <span class="menu-text">Gastos</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/principal/configuraciones']"routerLinkActive="active" [pTooltip]="isCollapsed==true?'Configuraciones':''" tooltipPosition="right">
          <i class="pi pi-sliders-h" ></i>
          <span class="menu-text">Configuraciones</span>
        </a>
      </li>
    </ul>
    <ul class="menu bottom-menu">
      <li class="bottom-item">
        <a href="#" (click)="CerrarSesion()" [pTooltip]="isCollapsed==true?'Cerrar':''" tooltipPosition="right">
          <i class="pi pi-sign-out" ></i>
          <span class="menu-text">Cerrar</span>
        </a>
      </li>
    </ul>
  </aside>
  <div class="container-table">
    <router-outlet></router-outlet>
  </div>
</div>
