<div class="Principal" id="Principal">
    <div  *ngIf="Impresion==true" class="cabecera" >
        <div class="BotonImpresion">
            <button pButton printSectionId="Principal" [useExistingCss]="true" ngxPrint label="Imprimir Factura"> </button>
        </div>
        <div class="logo">
            <img src="../../../assets/Imagenes/BUGGAFITLOGO.png" width="30px;"height="30px;" alt="">
            <h1>BUGGAFIT</h1>
        </div>

    </div>
    <!-- Card informacion venta -->
    <p-card [header]="Impresion==true?'Informacion Venta #'+venta.VEN_CODIGO:'Informacion Venta'" [style]="{ width: '100%' }" class="card">
        <section>
            <div>
                <label for="VEN_FECHAVENTA">Fecha Venta:</label>
                <p-calendar [(ngModel)]="venta.VEN_FECHAVENTA" disabled="true"></p-calendar>

            </div>
            <div>
                <label for="VEN_CUENTADESTINO">Tipo de pago:</label>
                <input type="text" [(ngModel)]="venta.TIC_NOMBRE"pInputText disabled="true" />
            </div>
        </section>

    </p-card>


    <!-- Card CLiente  -->
    <p-card header="Cliente" [style]="{ width: '100%' }" class="card">
        <section>
            <div>
                <label for="CLI_ID">Cedula:</label>
                <input type="text" [(ngModel)]="venta.CLI_ID" pInputText disabled="true" />
            </div>

            <div>
                <label for="CLI_NOMBRE">Nombre:</label>
                <input type="text" [(ngModel)]="venta.CLI_NOMBRE" pInputText disabled="true"/>
            </div>

            <div>
                <label for="CLI_DIRECCION">Direccion:</label>
                <input type="text" [(ngModel)]="venta.CLI_DIRECCION" pInputText disabled="true"/>
            </div>

            <div>
                <label for="CLI_UBICACION">Ubicacion:</label>
                <input type="text"  [(ngModel)]="venta.CLI_UBICACION" pInputText disabled="true"/>
            </div>

            <div>
                <label for="CLI_TIPOCLIENTE">Tipo de cliente:</label>
                <input type="text" [(ngModel)]="venta.CLI_TIPOCLIENTE" pInputText disabled="true"/>
            </div>
            <div class="form-group">
                <label for="TIP_NOMBRE">Tipo de Envio:</label>
                <input type="text" [(ngModel)]="venta.TIP_NOMBRE" pInputText disabled="true"/>
            </div>
        </section>

    </p-card>
    <p-card header="Lista de Productos ${{venta.VEN_PRECIOTOTAL | number}}"
        [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
        <p-table #dt2 [value]="venta.DetalleVentas??[]" 
            [tableStyle]="{ 'min-width': '40rem', 'max-height': '600px' }"
            styleClass="p-datatable-sm"
            class="custom-table">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="PRO_CODIGO" style="width: 20%">Codigo</th>
                    <th pSortableColumn="PRO_NOMBRE" style="width: 20%">
                        Nombre de Articulo
                    </th>
                    <th pSortableColumn="VED_UNIDADES" style="width: 20%">Cantidad</th>
                    <th pSortableColumn="VED_PRECIOVENTA_UND" style="width: 20%">Precio</th>
                    <th pSortableColumn="VED_PRECIOVENTA_TOTAL" style="width: 20%">Valor Total</th>
                    <th pSortableColumn="VED_VALORDESCUENTO_UND" style="width: 20%">Descuento</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-venta>
                <tr>
                    <td>{{ venta.PRO_CODIGO }}</td>
                    <td>{{ venta.PRO_NOMBRE }}</td>
                    <td>{{ venta.VED_UNIDADES }}</td>
                    <td>{{ venta.VED_PRECIOVENTA_UND |number}}</td>
                    <td>{{ venta.VED_PRECIOVENTA_TOTAL |number }}</td>
                    <td>{{ venta.VED_VALORDESCUENTO_UND }}%</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
