<div class="Principal">
  <h1>Ventas</h1>
  <form #myForm="ngForm" [formGroup]="formularioVenta" (ngSubmit)="FinalizarFactura(myForm)">
    <div class="form-group">
      <label for="VEN_FECHAVENTA">Fecha Venta:</label>
      <p-calendar formControlName="VEN_FECHAVENTA" name="FechaVenta" [showTime]="true" hourFormat="12"></p-calendar>
    </div>

    <div class="form-group">
      <label for="VEN_TIPOPAGO">Tipo de pago:</label>
      <p-dropdown formControlName="VEN_TIPOPAGO" [options]="listaTipoDePago" optionLabel="label" optionValue="value"
        [filter]="true" filterBy="label" [showClear]="true" placeholder="Seleccione Pago"></p-dropdown>
    </div>

    <div class="form-group">
      <label for="VEN_CUENTADESTINO">Cuenta Destino:</label>
      <p-dropdown formControlName="VEN_CUENTADESTINO" [options]="listaTipoDeCuenta" optionLabel="label"
        optionValue="value" [filter]="true" filterBy="label" [showClear]="true"
        placeholder="Seleccione Cuenta"></p-dropdown>
    </div>



    <div class="form-group">
      <label for="CLI_ID">Cedula:</label>
      <input (keypress)="AutocompletarCedula($event)" type="text" pInputText formControlName="VENT_CEDULA" />
    </div>

    <div class="form-group">
      <label for="CLI_NOMBRE">Nombre:</label>
      <input type="text" pInputText formControlName="CLI_NOMBRE" />
    </div>

    <div class="form-group">
      <label for="CLI_DIRECCION">Direccion:</label>
      <input type="text" pInputText formControlName="CLI_DIRECCION" />
    </div>

    <div class="form-group">
      <label for="CLI_UBICACION">Ubicacion:</label>
      <input type="text" pInputText formControlName="CLI_UBICACION" />
    </div>

    <div class="form-group">
      <label for="CLI_TIPOCLIENTE">Tipo de cliente:</label>
      <p-dropdown formControlName="CLI_TIPOCLIENTE" [options]="listaTipoDeCliente" optionLabel="label"
        optionValue="value" [filter]="true" filterBy="label" [showClear]="true"
        placeholder="Seleccione Cliente"></p-dropdown>
    </div>
    <!--<div class="buttonContainer">
      <p-button label="Agregar" styleClass="p-button-rounded p-button-success" style="margin-right: 10px"></p-button>
      <p-button label="Buscar" styleClass="p-button-rounded"></p-button>
    </div> -->
    <div class="form-group">
      <label for="PRO_CODIGO">Codigo:</label>
      <input #codigoProdcutoInput (keypress)="AutocompletarProducto($event)" type="text" pInputText formControlName="PRO_CODIGO" />
    </div>

    <div class="form-group">
      <label for="PRO_NOMBRE">Nombre Articulo:</label>
      <input type="text" pInputText formControlName="PRO_NOMBRE" />
    </div>
    <div>
      <label>Cantidad:</label>
      <input #cantidadInput  type="text" (keyup)="CalcularValorTotal($event)" pInputText formControlName="PRO_CANTIDADVENTA" />
    </div>

    <div>
      <label>Precio:</label>
      <input type="text" pInputText formControlName="PRO_PRECIO" />
    </div>

    <div>
      <label>Valor Total:</label>
      <input (keyup)="CalcularDescuentoPorcentaje($event)" type="text" pInputText formControlName="PRO_VALORTOTAL" />
    </div>

    <div>
      <label>Descuento:</label>
      <input (keyup)="CalcularValorTotalConDescuento($event)" type="text" pInputText formControlName="PRO_DESCUENTO"/>
    </div>
    <div class="buttonContainer">
      <p-button label="Agregar" styleClass="p-button-rounded p-button-success" style="margin-right: 10px"
        (onClick)="AgregarProducto($event)"></p-button>
      <!-- <p-button label="Buscar" styleClass="p-button-rounded"></p-button> -->
    </div>
    <div class="buttonContainer">
      <p-button label="Realizar Factura" styleClass="p-button-rounded p-button-success" style="margin-right: 10px"
        type="Submit"></p-button>
      <!-- <p-button label="Buscar" styleClass="p-button-rounded"></p-button> -->
    </div>
  </form>

  <br />
  <p-card header="Ventas" [style]="{ margin: '20px', padding: '20px' }" styleClass="shadow-5">
    <p-table #dt2 [value]="listaProductos" [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '90rem', 'max-height': '600px' }"
      currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} ventas"
      [rowsPerPageOptions]="[3, 10, 50]" class="custom-table">
      <ng-template pTemplate="caption">
        <div class="EncabezadoTabla">
          <button type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-rounded p-button-success mr-2"
            pTooltip="XLS" tooltipPosition="bottom"></button>
          <!-- <button pButton label="" class="p-button-outlined" icon="pi pi-filter-slash" (click)="dt1.reset()"></button> -->
          <button pButton label="" icon="pi pi-filter" iconPos="left" class="p-button-raised p-button-rounded"
            (click)="dt2.reset()"></button>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Buscar" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="PRO_CODIGO" style="width: 20%">Codigo</th>
          <th pSortableColumn="PRO_NOMBRE" style="width: 20%">
            Nombre de Articulo
          </th>
          <th pSortableColumn="VED_UNIDADES" style="width: 20%">Cantidad</th>
          <th pSortableColumn="VED_PRECIOVENTA_UND" style="width: 20%">Precio</th>
          <th pSortableColumn="VED_PRECIOVENTA_TOTAL" style="width: 20%">Valor Total</th>
          <th pSortableColumn="VED_VALORDESCUENTO_UND" style="width: 20%">Descuento</th>
          <th style="min-width: 200px" alignFrozen="right" pFrozenColumn>
            Acciones
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-venta>
        <tr>
          <td>{{ venta.PRO_CODIGO }}</td>
          <td>{{ venta.PRO_NOMBRE }}</td>
          <td>{{ venta.VED_UNIDADES }}</td>
          <td>{{ venta.VED_PRECIOVENTA_UND }}</td>
          <td>{{ venta.VED_PRECIOVENTA_TOTAL }}</td>
          <td>{{ venta.VED_VALORDESCUENTO_UND }}</td>
          <td style="min-width: 200px">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>