<div class="Principal">
  <h1>Ventas</h1>

  <!-- Card informacion venta -->
  <!-- <p-card header="Informacion Venta" [style]="{ width: '100%' }" class="card">
    <form #myForm="ngForm" [formGroup]="formularioVenta" (ngSubmit)="FinalizarFactura(myForm)">
      <div>
        <label for="VEN_FECHAVENTA">Fecha Venta:</label>
        <p-calendar formControlName="VEN_FECHAVENTA" name="FechaVenta" [showTime]="true" hourFormat="12"></p-calendar>
      </div>
      <div>
        <label for="VEN_CUENTADESTINO">Tipo de pago:</label>
        <p-dropdown formControlName="VEN_CUENTADESTINO" [options]="listaTipoDeCuenta" optionLabel="label"
          optionValue="value" placeholder="Seleccione Cuenta"></p-dropdown>
      </div>
    </form>
  </p-card> -->

  <!-- Card CLiente  -->
  <p-card header="Cliente" [style]="{ width: '100%' }" class="card">
    <form #myForm="ngForm" [formGroup]="formularioVenta" (ngSubmit)="FinalizarFactura(myForm)">
      <div>
        <label for="CLI_ID">Cedula:</label>
        <input (blur)="AutocompletarCedula()" type="text" pInputText formControlName="VENT_CEDULA" />
      </div>

      <div>
        <label for="CLI_NOMBRE">Nombre:</label>
        <input type="text" pInputText formControlName="CLI_NOMBRE" />
      </div>

      <div>
        <label for="CLI_DIRECCION">Direccion:</label>
        <input type="text" pInputText formControlName="CLI_DIRECCION" />
      </div>

      <div>
        <label for="CLI_UBICACION">Ubicacion:</label>
        <input type="text" pInputText formControlName="CLI_UBICACION" (blur)="AgregarTipoDeEnvio($event)"/>
      </div>

    
      <div>
        <label for="CLI_TIPOCLIENTE">Tipo de cliente:</label>
        <p-dropdown formControlName="CLI_TIPOCLIENTE" [options]="listaTipoDeCliente" optionLabel="label"
          optionValue="value" placeholder="Seleccione Cliente" (onChange)="AgregarTipoDeEnvio($event)"></p-dropdown>
      </div>
      <div class="form-group">
        <label for="VEN_TIPOENVIO">Tipo de Envio:</label>
        <p-dropdown #tipoDeEnvioDropdown formControlName="VEN_TIPOENVIO" [options]="listaTipoDeEnvio"
          optionLabel="label" optionValue="value" placeholder="Seleccione una opcion"
          (onChange)="AgregarTipoDeEnvio($event)"></p-dropdown>
      </div>
      <div>
        <label for="VEN_CUENTADESTINO">Tipo de pago:</label>
        <p-dropdown formControlName="VEN_CUENTADESTINO" [options]="listaTipoDeCuenta" optionLabel="label"
          optionValue="value" placeholder="Seleccione Cuenta" [filter]="true" filterBy=""></p-dropdown>
      </div>
      <div>
        <label for="CLI_TELEFONO">Telefono:</label>
        <input type="text" pInputText formControlName="CLI_TELEFONO"/>
      </div>
      
      <div>
        <label for="CLI_CORRREO">Correo electronico:</label>
        <input type="text" pInputText formControlName="CLI_CORREO"/>
      </div>
      <div>
        <label for="VEN_OBSERVACIONES">Observaciones:</label>
        <input type="text" pInputText formControlName="VEN_OBSERVACIONES" />
      </div>
    </form>
  </p-card>
  <h2 *ngIf="AplicaDescuento==true" style="text-align: center;font-weight: bold;color: red;">Atencion: Todos los productos seleccionados tendran un descuento de ${{Descuento |number}}</h2>
  <!-- Card producto -->
  <p-card header="Informacion producto" [style]="{ width: '100%' }" class="card">
    <form #myForm="ngForm" [formGroup]="formularioVenta" (ngSubmit)="FinalizarFactura(myForm)" (keydown.enter)="$event.preventDefault()">
      <div>
        <label for="PRO_CODIGO">Codigo:</label>
        <!-- <input #codigoProdcutoInput (blur)="AutocompletarProducto($event)" type="text" pInputText
          formControlName="PRO_CODIGO" /> -->
        <p-dropdown [options]="productos" formControlName="PRO_CODIGO" [(ngModel)]="producto"
          (onClick)="AutocompletarProducto()" optionLabel="PRO_NOMBRE" [filter]="true" filterBy="PRO_NOMBRE"
          [showClear]="true" placeholder="Seleccione Producto">
          <ng-template pTemplate="selectedItem">
            <div>{{ producto.PRO_CODIGO }}</div>
          </ng-template>
          <ng-template let-product pTemplate="item">
            <div>{{ product.PRO_NOMBRE }}</div>
          </ng-template>
        </p-dropdown>


      </div>

      <div>
        <label for="PRO_NOMBRE">Nombre Articulo:</label>
        <input type="text" pInputText formControlName="PRO_NOMBRE" />
      </div>
      <div>
        <label>Cantidad:</label>
        <input #cantidadInput type="number" (keyup)="CalcularValorTotal($event)" pInputText 
          formControlName="PRO_CANTIDADVENTA" />
      </div>

      <div>
        <span class="p-input-icon-left">
          <label>Precio:</label>
         
          <p-inputNumber style=" display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%; " (keyup)="CalcularDescuentoPorcentajePrecioUnitario($event)" formControlName="PRO_PRECIO" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" inputId="currency-us"  mode="currency" currency="USD" locale="en-US"> </p-inputNumber>
        </span>
      </div>

      <div>
        <span class="p-input-icon-left ">
          <label>Valor Total:</label>
         
          <p-inputNumber style=" display: flex;
          flex-direction: column;
          gap: 5px;
          width: 100%;
          " (keyup)="CalcularDescuentoPorcentaje($event)" formControlName="PRO_VALORTOTAL" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"  inputId="currency-us"  mode="currency" currency="USD" locale="en-US"> </p-inputNumber>
        
        </span>
      </div>

      <div>
        <span class="p-input-icon-left">
          <label>Descuento:</label>
          <i style="top: 2.1rem;font-size: 18px;">%</i>
          <input (keyup)="CalcularValorTotalConDescuento($event)" type="number" min="0" max="100" pInputText
            formControlName="PRO_DESCUENTO" />
        </span>
      </div>
      <div class="buttonContainer" style="padding-top: 20px;">
        <p-button label="Agregar" style="margin-right: 10px" styleClass="p-button-rounded"
          (onClick)="AgregarProducto($event)"></p-button>
        <p-button label="Realizar Factura" styleClass="p-button-rounded p-button-success" style="margin-right: 10px"
          type="Submit"></p-button>
        <p-button label="Cambiar Precio" style="margin-right: 10px" styleClass="p-button-rounded p-button-secondary"
          severity="secondary" (onClick)="CambiarPrecioDelProducto($event)"></p-button>
        <p-button label="Cotizar" style="margin-right: 10px" styleClass="p-button-rounded p-button-help"
          severity="secondary" (onClick)="Cotizar()"></p-button>
      </div>
    </form>


  </p-card>




  <br />
  <p-card header="Lista de Productos ${{TotalComprado | number}}" [style]="{ margin: '20px', padding: '20px' }"
    styleClass="shadow-5">
    <p-table #dt2 [value]="listaProductos" [tableStyle]="{ 'min-width': '10rem', 'max-height': '600px' }"[scrollable]="true" 
      styleClass="p-datatable-sm" class="custom-table">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="PRO_CODIGO" style="width: 20%">Codigo</th>
          <th pSortableColumn="PRO_NOMBRE" style="width: 20%">
            Nombre de Articulo
          </th>
          <th pSortableColumn="VED_UNIDADES" style="width: 20%">Cantidad</th>
          <th pSortableColumn="VED_PRECIOVENTA_UND" style="width: 20%">Precio</th>
          <th pSortableColumn="VED_PRECIOVENTA_TOTAL" style="width: 20%">Valor Total</th>
          <th pSortableColumn="VED_VALORDESCUENTO_UND" style="width: 20%">Descuento</th>
          <th style="min-width: 200px" alignFrozen="right" pFrozenColumn>
            Acciones
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-venta>
        <tr>
          <td>{{ venta.PRO_CODIGO }}</td>
          <td>{{ venta.PRO_NOMBRE }}</td>
          <td>{{ venta.VED_UNIDADES }}</td>
          <td>{{ venta.VED_PRECIOVENTA_UND |number }}</td>
          <td>{{ venta.VED_PRECIOVENTA_TOTAL |number }}</td>
          <td>{{ venta.VED_VALORDESCUENTO_UND |number }}%</td>
          <td style="min-width: 200px" alignFrozen="right" pFrozenColumn [frozen]="true">
            <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button> -->
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" pTooltip="Eliminar"
              tooltipPosition="top" (click)="eliminarVenta(venta)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>