.Principal{
    background-color: #eff3f8;
}
.Titulo1{
    text-align: center;
    font-size: 3rem;
    height: 3rem;
    margin: 1rem;
}
.dialog-header{
    margin-left: 250px;
}
.Titulo3{
    text-align: center;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    align-items: center;
}
form div{
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
form div button{
    margin-top: 20px;
}

  
  :host ::ng-deep .p-button:hover {
    background-color: black;
    border-color: black;
  }

.Indicadores{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    align-items: center;
    justify-content: space-around;

}

.EncabezadoTabla{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
