<div class="contenedorPricipal">
    <p-card [style]="{ width: '100%' }" class="card">
    <form [formGroup]="formularioUsuario">
        <div>
            <label for="USU_NOMBRE">Nombre:</label>
            <input type="text" pInputText formControlName="USU_NOMBRE" matInput autocomplete="off">
        </div>
        <div>
            <label for="USU_CEDULA">Cédula:</label>
            <input type="text" pInputText formControlName="USU_CEDULA" matInput autocomplete="off">
        </div>
        <div>
            <label for="USU_CONTRASEÑA">Contraseña:</label>
            <input type="password" pInputText formControlName="USU_CONTRASEÑA" matInput autocomplete="off">
        </div>
        <div>
            <label for="USU_ROL">Rol:</label>
            <p-dropdown
            formControlName="USU_ROL"
            [options]="listaTipoDeRol"
            optionLabel="label"
            optionValue="value"
            placeholder="Seleccione Rol"
          ></p-dropdown>
        </div>
     
    </form>
    <div>
        <div class="buttonContainer">
            <p-button (click)=" SubmitFormulario()" [label]="this.esEdicion==false?'Agregar':'Actualizar'"> </p-button>
        </div>
    </div>

</p-card>
</div>

