<div class="contenedorPricipal">
  <form [formGroup]="formularioGasto">
  <p-card header="Información Gasto"  [style]="{ width: '100%' }" class="card">
 <section>
    <div>
      <label>Fecha:</label>
      <p-calendar
        formControlName="GAS_FECHAGASTO"
        [showTime]="true"
        hourFormat="12"
        appendTo="body"
      ></p-calendar>
    </div>
      <div>
        <label for="MOG_CODIGO">Motivo Gasto:</label>
        <p-dropdown
          [options]="listaMotivo"
          optionLabel="label"
          formControlName="MOG_CODIGO"
          optionValue="value"
          placeholder="Seleccionar Motivo"
          appendTo="body"
        ></p-dropdown>
      </div>
      
      <!-- <div>
        <label for="GAS_PENDIENTE">Pendiente Pago:</label>
        <p-checkbox formControlName="GAS_PENDIENTE"[binary]="true"></p-checkbox>
      </div> -->
    </section>
  </p-card >
    <p-card [style]="{ width: '100%' }" class="card">
      <section>
        <div>
          <label for="TIC_CODIGO">Tipo de pago:</label>
          <p-dropdown
            formControlName="TIC_CODIGO"
            [options]="listaCuenta"
            optionLabel="label"
            optionValue="value"
            placeholder="Seleccione Cuenta"
            [readonly]="esEdicion==true"
            appendTo="body"
            [filter]="true" filterBy=""
          ></p-dropdown>
<!-- 
          <input type="text" pInputText formControlName="TIC_CODIGO" matInput autocomplete="off"> -->
        </div>
  
        <div>
          <label for="GAS_VALOR">Valor:</label>
          <p-inputNumber  formControlName="GAS_VALOR" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"> </p-inputNumber>
          <!-- <input *ngIf="esEdicion==true" type="text" pInputText formControlName="GAS_VALOR" readonly="true" matInput autocomplete="off"> -->
        </div>
        <div>
          <label for="GAS_OBSERVACIONES">Detalle Gasto:</label>
          <input type="text" pInputText formControlName="GAS_OBSERVACIONES" matInput autocomplete="off">
      </div>
     
      </section>
      </p-card>
</form>
  <div>
    <div class="buttonContainer">
      <p-button (click)="SubmitFormulario()" [label]="this.esEdicion==false?'Agregar':'Actualizar'"> </p-button>
    </div>
  </div>
</div>
