<div class="contenedorPricipal">
    <form [formGroup]="formularioProducto">
        <p-card header="Información Cualitativa" [style]="{ width: '100%' }" class="card">
            <section>
                <div>
                    <label for="PRO_CODIGO">Codigo:</label>
                    <input type="text" pInputText formControlName="PRO_CODIGO" matInput autocomplete="off">
                </div>
                <div>
                    <label for="PRO_NOMBRE">Nombre:</label>
                    <input type="text" pInputText formControlName="PRO_NOMBRE" matInput autocomplete="off">
                </div>
                <div>
                    <label for="PRO_CATEGORIA">Categoría:</label>
                    <p-dropdown [options]="listaCategorias" formControlName="PRO_CATEGORIA"
                        optionLabel="label" [filter]="true" filterBy="label" [showClear]="true"
                        optionValue="value" placeholder="Seleccione Categoria"></p-dropdown>
                </div>
                <div>
                    <label for="PRO_MARCA">Marca:</label>
                    <p-dropdown [options]="listaMarcas"  optionValue="value" formControlName="PRO_MARCA"
                        optionLabel="label" [filter]="true" filterBy="label" [showClear]="true"
                        [virtualScroll]="true" [virtualScrollItemSize]="38" placeholder="Seleccione Categoria"></p-dropdown>
                </div>
                <div>
                    <label for="PRO_REGALO">Regalo:</label>
                    <p-checkbox formControlName="PRO_REGALO"[binary]="true"></p-checkbox>
                  </div>
            </section>
        </p-card>

        <p-card header="Información Cuantitativa" [style]="{ width: '100%' }" class="card">
            <section>
                <div>
                    <label for="PRO_UNIDADES_DISPONIBLES">Unidades Disponibles:</label>
                    <!-- <input type="text" pInputText formControlName=PRO_UNIDADES_DISPONIBLES matInput autocomplete="off"> -->
                    <p-inputNumber class="Numerico" mode="decimal" locale="en-US"
                        formControlName=PRO_UNIDADES_DISPONIBLES></p-inputNumber>
                </div>
                <div>
                    <label for="UNIDADES_MINIMA_ALERTA">Unidades Minimas:</label>
                    <input type="text" pInputText formControlName=UNIDADES_MINIMA_ALERTA matInput autocomplete="off">
                    
    
                </div>
                <div>
                    <label for="PRO_PRECIO_COMPRA">Precio Compra:</label>
                    <!-- <input type="text" pInputText formControlName=PRO_PRECIO_COMPRA matInput autocomplete="off"> -->
                    <p-inputNumber
                    class="Numerico"
                    mode="decimal"
                    locale="en-US"
                    formControlName=PRO_PRECIO_COMPRA
                  ></p-inputNumber>
    
                </div>
                <div>
                    <label for="PRO_PRECIO_MAYORISTA">Precio de Mayorista:</label>
                    <!-- <input type="text" pInputText formControlName="PRO_PRECIO_MAYORISTA" matInput autocomplete="off"> -->
                    <p-inputNumber
                    class="Numerico"
                    mode="decimal"
                    locale="en-US"
                    formControlName=PRO_PRECIO_MAYORISTA
                  ></p-inputNumber>
                </div>
                <div>
                    <label for="PRO_PRECIO_ DETAL">Precio Detal:</label>
                    <!-- <input type="text" pInputText formControlName="PRO_PRECIO_DETAL" matInput autocomplete="off"> -->
                    <p-inputNumber
                    class="Numerico"
                    mode="decimal"
                    locale="en-US"
                    formControlName=PRO_PRECIO_DETAL
                  ></p-inputNumber>
                </div>
            </section>
        </p-card>
    </form>
    <div>
        <div class="buttonContainer">
            <p-button (click)="SubmitFormulario()" [label]="this.esEdicion==false?'Agregar':'Actualizar'"></p-button>
        </div>
    </div>