.contenedorPricipal{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.cabecera{
    display: grid;
    justify-items: center;
    align-items: center;
}

form,.Productos{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    align-items: center;
}
form div, .Productos div{
    flex: 1 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}