.EncabezadoTabla {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}


.card {
    margin: 7px;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.card section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.card form {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.card section div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.card section div input {
    border-radius: 10px;
    width: 100%;
}

:host ::ng-deep .p-calendar,
:host ::ng-deep .p-dropdown,
:host ::ng-deep .p-inputtext,
:host ::ng-deep .p-inputNumber {
    height: 1.5rem;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    min-width: 100px;
}

.card .buttonContainer {
    display: flex;
    flex-direction: row;
}