<div class="Principal">
    <!-- <div class="cabecera" >
        <img src="../../../assets/Imagenes/BUGGAFITLOGO.png" width="50px;"height="50px;" alt="">
    </div> -->
    <!-- Card informacion venta -->
    <p-card header="" [style]="{ width: '100%' }" class="card">
        <section>
            <div>
                <label for="VEN_FECHAVENTA">Codigo de acceso:</label>
                <!-- <input type="password" [(ngModel)]="credencialesDeAcceso.Cedula" pInputText  /> -->
                <p-password [(ngModel)]="credencialesDeAcceso.Cedula" [toggleMask]="true" [feedback]="false"></p-password>

            </div>
            <!-- <div>
                <label for="VEN_CUENTADESTINO">Contraseña:</label>
                <input type="Password" [(ngModel)]="credencialesDeAcceso.Password" pInputText />
            </div> -->
        </section>
        <div>
            <div class="buttonContainer">
                <p-button (click)="Validar()" label="Validar"></p-button>
            </div>
        </div>
    </p-card>
   
</div>