h1 {
    text-align: center;
    font-size: 30px;
}

.Filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    align-items: center;
}

.Filtro p {
    flex: 1 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    label{
        font-family: 'Poppins', sans-serif;
    }
}
.EncabezadoTabla{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}
.Acciones{
    display: flex;
    justify-content: center;
    gap: 5%;
}
/* custom-table.css */
:host ::ng-deep .p-datatable .p-datatable-tbody tr > td {
    text-align: center !important;
    font-family: 'Poppins', sans-serif;
  }
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th  {
    text-align: center !important;
    font-family: 'Poppins', sans-serif;
  }