/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@font-face {
    font-family: 'Poppins';
    src: url('./assets/Fuentes/Poppins-Bold.ttf') format('ttf'), /* Formato WOFF2 */
         url('./assets/Fuentes/Poppins-Medium.ttf') format('ttf'); /* Formato WOFF */
  }
 * {
    font-family: 'Poppins', sans-serif;
  }
  *,*::after,*::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    outline: 0;
}
body{
    height: 100vh;
    min-width: 390px;
    min-height: 100%;
    background-color: #eff3f8;
}

.p-datatable .p-datatable-tbody tr > td {
  text-align: center !important;
  font-family: 'Poppins', sans-serif;
}
.p-datatable .p-datatable-thead > tr > th  {
  text-align: center !important;
  font-family: 'Poppins', sans-serif;
}
/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width:10px;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
  display: none;
} 

*::-webkit-scrollbar:horizontal {
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;  
}